.btn-inicio{
    background-color: #344d67;
    color: #6eccaf;
    padding: 6px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    width: 113px;
    border-radius: 6px;
    
}
.btn-inicio:hover{
    background-color: #6eccaf;
    color: #344d67;
}
@media ( max-width:768px){
    .btn-inicio{
        margin-bottom: 1%;
        margin-top: 1%;
    }
    
}
@media(max-width:607px){
    h1{
        font-size: 20px;
    }
}